input {
 &.ng-touched {
    &.ng-invalid {
        border: 3px solid red
    }
  }
}


.text{
    font: size 28px;
    margin-left: 30%;
    margin-bottom: 30px;
  }
  .center{
    border: 3px solid;
    font: size 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  